URxvt*font: -*-terminus-medium-r-*-*-*-*-*-*-*-*-*-*
URxvt*boldFont: -*-terminus-medium-r-*-*-*-*-*-*-*-*-*-*
URxvt*internalBorder: 3
URxvt.scrollBar: false
URxvt.loginShell: true
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: chromium
URxvt.urgentOnBell: true
#include ".Xresources.d/solarized"
