URxvt*font: xft:Droid Sans Mono:pixelsize=14
URxvt.letterSpace: -1
URxvt*internalBorder: 3
URxvt.scrollBar: false
URxvt.loginShell: true
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: chromium
URxvt.urgentOnBell: true
#include ".Xresources.d/solarized"
